.iotextarea {
    display: flex;
}
.iotextarea .ta-container {
    display: flex;
    flex-grow: 1;
}
.iotextarea .ta-container textarea {
    width: 100%;
    height: calc(100vh - 200px);
    resize: none;
    padding: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 14px;
}
.iotextarea .lefttoright {
    display: flex;
    height: 50px;
    width: 50px;
    margin: 5px;
    background: #000;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    align-self: center;
    align-items: center;
    background-image: linear-gradient(90deg, #fff, #000);
}

@media (max-width: 760px) {
    .iotextarea {
        flex-direction: column;
    }
    .iotextarea .ta-container textarea {
        /* height: 250px; */
        height: calc(50vh - 125px);
    }
    .iotextarea .lefttoright {
        transform: rotate(90deg);
    }
}